*~
*.elc
.last-package-update-day
ido.last
smex-items
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
elpa
history
ac-comphist.dat
.mc-lists.el
company-statistics-cache.el